#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config DDS_CHAT
	bool "A simple chat example using DDS"
	default n
	---help---
		Enable the DDS_CHAT
