#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_UDP_SIMPLE
	bool "UDP example simple"
	default n
	---help---
		Enable the UDP SIMPLE example

if EXAMPLES_UDP
endif
